:root {
    --color-principal: #1845FF;
  }
  body {
    background-color: var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    scale: 15%;
  }